.selects-wrapper {
    margin: 0 auto;
    max-width: 500px;
}

.select-holder {
    width: 100%;
    padding-bottom: 25px;
    padding-left: 20px;
}

h1, p{
    text-align: center;
}

p {
    padding-bottom: 30px;
}

span {
    padding-left: 140px;
    padding-top: 5px;
    font-size: 16px;
    font-style: italic;
    color: gray;
    display: inline-block;
}

select {
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(101, 74, 150);
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 70%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0 0 0 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}